{
  "work_dirs": [
    {
      "path": "C:\\Windows\\System32",
      "kaos": "local",
      "last_session_id": "af31bb1e-d3a3-466d-8868-77d055f89100"
    },
    {
      "path": "C:\\Users\\pc\\kimi-workspace\\kimi-x-desktop",
      "kaos": "local",
      "last_session_id": "f89d942b-3a22-4e41-ba21-87cbf6968bcb"
    }
  ]
}